apiVersion: apps/v1
kind: Deployment
metadata:
  name: wal-auth-v3
  namespace: wal-test
  labels:
    app: wal-auth-v3
    env: staging
spec:
  replicas: 0
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: wal-auth-v3
      env: staging
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: wal-auth-v3
        env: staging
    spec:
      containers:
      - name: wal-auth-v3
        image: nginx:1.25
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
          limits:
            cpu: 200m
            memory: 400Mi

