apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: wal-auth-v3
  namespace: wal-test
spec:
  replicas: 2
  revisionHistoryLimit: 3
  strategy:
    canary:
      canaryMetadata:
        annotations:
          role: canary
        labels:
          role: canary
      stableMetadata:
        annotations:
          role: stable
        labels:
          role: stable
      maxSurge: 25%
      maxUnavailable: 25%
  workloadRef:
    apiVersion: apps/v1
    kind: Deployment
    name: wal-auth-v3

