apiVersion: apps/v1
kind: Deployment
metadata:
  name: check-do-v7
  namespace: monday-check
  labels:
    app: check-do-v7
    env: staging
spec:
  replicas: 0
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: check-do-v7
      env: staging
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: check-do-v7
        env: staging
    spec:
      containers:
      - name: check-do-v7
        image: nginx:1.25
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
          limits:
            cpu: 200m
            memory: 400Mi

